*{
    padding: 0;
    margin: 0;
}


body{
    background: rgba(15, 23, 42, 1);

}

.content{
    display: flex;
    margin-top: 158px;
    margin-left: 50px;
    gap: 13rem;
    justify-content:space-between;
    overflow: hidden;
}

.text-content h1{
    font-size: 72px;
    color: white;
}

.text-content h2{
    font-size: 56px;
    color: white;
}

.text-content p{
    color: white;
    margin-top: 10px;
}



.buttons {
    margin-top: 30px;
    margin-left: 5px;
    display: flex;
    gap: 2rem;
}

.buttons button {
    background-color: rgba(112, 26, 117, 1);
    border-radius: 12px;
    padding: 1px 42px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    border: none;
    white-space: nowrap;
}

.buttons button:nth-child(1) .button_download span {
    color: white;
}

.buttons button:nth-child(1) svg path {
    fill: white; 
}

.button_download p{
    white-space: nowrap;
    width: 100px;
    height: 30px;
}

.buttons {
    margin-top: 30px;
    margin-left: 5px;
}

.buttons button:nth-child(2){
    background: rgba(15, 23, 42, 1);
    border-radius: 12px;
    padding: 1px 42px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    border: none;
}


.buttons button:nth-child(2) .button_download span {
    color: white;
}

.buttons button:nth-child(2) svg path {
    fill: white; 
    
}

.button_download p{
    margin-bottom: 10px;
}


.fa-solid{
    margin-bottom: 8px;
}
.vec{
    margin-left: 280px;
    width: 490px;
    height: 10px;
}

.vec1{
    position: absolute;
    left: 680px;
    width: 380px;

}

.pic{
    position: absolute;
    left: 770px;
    top: 120px;
    width: 200px;
}

.vector-0{
    position: absolute;
    width: 410px;
    left: 650px;

}